<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>

    <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-4.0.0/dist/css/bootstrap-grid.css">
</head>

<body>
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
            </a>
            <a href="/">
                <button role="link" class="btnCerrar" data-target="/">Cerrar Sesi칩n</button>
            </a>
        </nav>
    </div>

    <div class="todo_marca">
        <div class="row columnas_add">
            <div class="col-8">
                <div>
                    <a href="/config">
                        <img class="home_logo" src="/img/home.jpg" alt="home">
                    </a>
                </div>
                <h1 style="padding-left:10vw">USUARIO</h1>
                <br>
                <div align="center" class="add_form">
                    <form action="/add_user/add" method="post">
                        <input type="text" name="Nombre" placeholder="Nombre" required>
                        <br><br>
                        <input type="text" name="Usuario" placeholder="Usuario" required>
                        <br><br>
                        <div>
                            <input id="mypsswd" type="password" name="Contrase침a" placeholder="Contrase침a" required><br>
                            <input id="check_add" type="checkbox" onclick="myFunction()">Ver Contrase침a
                        </div>
                        <br>
                        <input type="text" name="Telefono" placeholder="Telefono" required>
                        <br><br>
                        <select name="Sucursal_idSucursal" type="text" id="sucursal" required>
                            <option disabled selected>Seleccione sucursal</option>
                            <!--% console.log(JSON.stringify(datars)); %-->
                            <% if (datas) { %>
                              <% for(var i=0; i < datas.length; i++) { %>
                                <option value="<%= datas[i].idSucursal %>"> <%= datas[i].Direccion %> </option>
                                <% } %>
                                  <% } %>
                          </select>
                        <br><br>
                        <select name="Marca_idMarca" type="text" id="sucursal" required>
                            <% if (datam) { %>
                              <% for(var i=0; i < datam.length; i++) { %>
                                <option value="<%= datam[i].idMarca %>"> <%= datam[i].Nombre_m %> </option>
                                <% } %>
                                  <% } %>
                          </select>
                        <div align="left" style="padding-left:8.5vw" class="botomnes">
                            <button type="submit" style="margin-right:0.5vw">GUARDAR</button>
                            <a href="/usuarios">
                                <button type="button">CANCELAR</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-4">
                <div class="comoquieras">
                    <img src="/img/color_a.png" alt="grey">
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("mypsswd");
        if (x.type == "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

</html>