<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>

    <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-4.0.0/dist/css/bootstrap-grid.css">
</head>

<body>

    <!--Navbar-->
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
            </a>
            <a href="/">
                <button role="link" class="btnCerrar">Cerrar Sesión</button>
            </a>
        </nav>
    </div>
    <!--Fin navbar-->
    <div class="todo_marca">

        <div class="row columnas_add">
            <div class="col-8">
                <div>
                    <a href="/config">
                        <img class="home_logo" src="/img/home.jpg" alt="home">
                    </a>
                </div>
                <div class="container botomnes">
                    <div class="row" style="margin-left: 7.5vw">
                        <div class="col-6">
                            <h1>Nueva tecnología</h1>
                        </div>
                    </div>
                    <div style="margin-left: 7.5vw" class="container add_tec colorcito">
                        <div class="row">
                            <div class="col-6">
                                <p>Nombre</p> 
                            </div>
                            <div align="center" class="col-2">
                                <p>Cantidad</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input placeholder="ej. Hidrofacial" type="text" style="width:30vw">
                            </div>
                            <div align="center" class="col-2">
                                <input class="numeritoC" type="number" min="0" style="width:6vw">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div align="left" style="margin-left:7vw" class="botomnes">
                        <a href="/tecnologias">
                            <button>AGREGAR</button>
                        </a>
                        <a href="/tecnologias">
                            <button>CANCELAR</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="comoquieras">
                    <img src="/img/color_a.png" alt="grey">
                </div>
            </div>
        </div>
    </div>
</body>

</html>