<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas</title>

    <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-4.0.0/dist/css/bootstrap-grid.css">
</head>
<style>
    .comoquieras img {
        width: 100%;
        height: 145vh;
    }
</style>
<body>

    <!--Navbar-->
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
            </a>
            <a href="/">
                <button role="link" class="btnCerrar">Cerrar Sesión</button>
            </a>
        </nav>
    </div>
    <!--Fin navbar-->
    <div class="todo_marca">
        <div class="row columnas_add">
            <div class="col-8">
                <div>
                    <a href="/config">
                        <img class="home_logo" src="/img/home.jpg" alt="home">
                    </a>
                </div>
                <h1 style="padding-left:10vw">CABINAS</h1>
                <br>
                <div align="center" class="add_form">
                    <input type="text" placeholder="Nombre">
                    <br><br>
                    <input type="text" placeholder="Sucursal">
                    <br><br>
                    <input type="text" placeholder="Marca">
                    <br><br>
                    <div style="margin-left:8vw" class="container">
                        <div class="row date_inputs  colorcito">
                                <div class="col-1 ">
                                    Cerrado
                                </div>
                                <div class="col-2">

                                </div>
                                <div class="col-3">
                                    Apertura
                                </div>
                                <div class="col-3">
                                    Cierre
                                </div>
                        </div>
                        <br>
                        <div class="row date_inputs">
                            <div class="col-1 ">
                                <input id="check_add" type="checkbox">
                            </div>
                            <div class="col-2">
                                *Domingo
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                        </div>
                        <br>
                        <div class="row date_inputs">
                            <div class="col-1 ">
                                <input id="check_add" type="checkbox">
                            </div>
                            <div class="col-2">
                                Lunes
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                        </div>
                        <br>
                        <div class="row date_inputs">
                            <div class="col-1 ">
                                <input id="check_add" type="checkbox">
                            </div>
                            <div class="col-2">
                                Martes
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                        </div>
                        <br>
                        <div class="row date_inputs">
                            <div class="col-1 ">
                                <input id="check_add" type="checkbox">
                            </div>
                            <div class="col-2">
                                Miércoles
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                        </div>
                        <br>
                        <div class="row date_inputs">
                            <div class="col-1 ">
                                <input id="check_add" type="checkbox">
                            </div>
                            <div class="col-2">
                                Jueves
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                        </div>
                        <br>
                        <div class="row date_inputs">
                            <div class="col-1 ">
                                <input id="check_add" type="checkbox">
                            </div>
                            <div class="col-2">
                                Viernes
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                        </div>
                        <br>
                        <div class="row date_inputs">
                            <div class="col-1 ">
                                <input id="check_add" type="checkbox">
                            </div>
                            <div class="col-2">
                                Sábado
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                            <div class="col-3">
                                <input id="clock" type="time">
                            </div>
                        </div>
                        <br>
                    </div>
                    <input type="text" placeholder="Especialista">
                        <br><br>
                        <select name="" id="">
                            <option selected disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seleccione tecnología</option>
                            <option value="">Tecnología 1</option>
                            <option value="">Tecnología 2</option>
                            <option value="">Tecnología 3</option>
                            <option value="">Tecnología 4</option>
                        </select>
                    <div align="left" style="padding-left:8.5vw" class="botomnes">
                        <a href="/config">
                            <button style="margin-right:0.5vw">GUARDAR</button>
                        </a>
                        <h5>*Ponerlo como input, el texto placeholder y el "value" como numero para DB daysOfWeek</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="comoquieras">
                    <img src="/img/color_a.png" alt="grey">
                </div>
            </div>
        </div>
    </div>
</body>

</html>