<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendario</title>

  <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
  <link rel="stylesheet" href="/css/style.css">
  <link type="text/css" href='/fullcalendar_scheduler/lib/main.css' rel='stylesheet' />
  <script src='/fullcalendar_scheduler/lib/main.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <!--Navbar-->
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <!--Fin navbar-->
  <!--Contenido-->
  <button onclick="back();" class="btnMenu">Menú</button>
  <div id="RS" class="schedule">
    <div align="center" class="sch_title inputs"><input readonly style="font-size:xx-large; font-weight:bold"
        type="text" value="<%= datam[0].Nombre_m %>"></div>
    <br>
    <div id='calendar-container'>
      <div style="margin-top:20vw" id='calendar' data="<%= data %>"></div>
    </div>
   
    <script src="/js/calendar.js"></script>
    <script src="/js/back.js"></script>

</body>

</html>