<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ventas</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="/img/ftk-blanco_solo_logo.png">
  <link rel="stylesheet" href="/css/style.css">

</head>


<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <h1 align="center">Menú</h1>
  <br />
  <br />
  <div class="botomnes">
    <table align="center">
      <tbody>
        <tr>
          <td>
            <a href="/calendario" title="Calendario">
              <button>Calendario</button>
            </a>
          </td>
          <td> <a href="/rCliente" title="rCliente">
              <button>Registrar Cliente</button></a></td>
        </tr>
        <tr>
          <td><a href="/rVenta"><button>Registrar Tratamiento/s</button></a></td>
          <td><a href="/agendarC"><button>Agendar cita</button></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>