<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Center</title>

  <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <h1 align="center">Menú</h1>
  <br />
  <br />
  <div class="botomnes">
    <table align="center">
      <tbody>
        <tr>
          <td>
            <a href="/agendarC">
              <button>Agendar</button>
            </a>
          </td>
          <td>
            <a href="/rVenta">
              <button>Registrar Membresia</button>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/rCliente">
              <button>Registrar Cliente</button>
            </a>
          </td>
          <td>
            <a href="/calendario">
              <button>Calendario</button>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/clientescc">
              <button>Clientes</button>
            </a>
          </td>
          <td>
            <!--a href="/pendientes">
              <button>Pendientes</button>
            </a-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>