<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>

    <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-4.0.0/dist/css/bootstrap-grid.css">

</head>

<body>
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
            </a>
            <a href="/">
                <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
            </a>
        </nav>
    </div>
    <div class="todo_marca">
        <div class="row">
            <div class="col-8">
                <div>
                    <a href="/config">
                        <img class="home_logo" src="/img/home.jpg" alt="home">
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="comoquieras">
                    <img src="/img/color_a.png" alt="grey">
                </div>
            </div>
        </div>
    </div>

</body>

</html>